body {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 13px;
	color: #626262;
}

a {
	text-decoration: none;
	color: #626262;
}

a:hover {
	text-decoration: underline;
	color: #626262;
}

a:visited {
	color: #626262;
}

strong {
	font-weight: bold;
}
.hidden {
	display: none;
}
#wrapper {
	width: 100%;
}

#content {
	width: 1000px;
	margin: 0 auto;
}

#logo {
	font-family: 'Bowlby One SC', sans-serif;
	font-size: 48px;
	color: #626262;
}

#logo a:hover {
	text-decoration: none;
}

#shrink_container,
#header_container,
#footer {
	position: relative;
	text-align: center;
	width: 100%;
}

#footer {
	padding-top: 40px;
	margin: 0 auto;
	width: 690px;
}

#header_container,
#page_404 {
	margin-top: 40px;
	margin-bottom: 30px;
}

#shrink_container {
	margin-bottom: 10px;
	padding-bottom: 50px;
}

#url_container {
	background-color: #626262;
	border: 1px solid #626262;
	float: none;
	margin: 0 auto;
	padding: 15px 15px 5px 15px;
	position: relative;
	text-align: left;
	width: 690px;
}

#url_input {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	font-size: 16px;
	height: 19px;
	padding: 5px 10px;
	width: 580px;
}

#url_submit {
	margin-left: 10px;
	background: none repeat scroll 0 0 #FFF;
	color: #626262;
	border: 0;
	font-size: 16px;
	padding: 5px 10px;
}

#url_submit:hover {
	/*border: 1px solid #CCC;*/
	cursor: pointer;
}

#shortened {
	border: 1px solid #626262;
	margin: 0 auto;
	padding: 15px;
	position: relative;
	text-align: left;
	width: 690px;
}

#shortened_table_hd {
	background-color: #F7F7F7;
	color: #AAAAAA;
	border-bottom: 1px solid #EFEFEF;
	line-height: 13px;
}

.short_link_hd,
.stats_link_hd,
.real_link_hd {
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	line-height: 28px;
	color: #626262;
}

.short_link_hd {
	margin-right: 10px;
	text-indent: 7px;
	width: 310px;
}

.stats_link_hd {
	margin-right: 10px;
	width: 130px;
}

.clearfix {
	display: block;
}

#shortened_results_ct {
	display: block;
	padding: 0;
}

.link_details {
	border-bottom: 1px solid #EFEFEF;
}

.short_link_ct a,
.stats_link,
.long_link {
	display: inline-block;
	font-weight: normal;
	line-height: 28px;
	overflow: hidden;
	white-space: nowrap;
}

.short_link_ct .short_link,
.stats_link,
.long_link {
	color: #626262;
}

.short_link_ct {
	margin-right: 10px;
	text-indent: 7px;
	width: 314px;
	float: left;
}

.short_link_ct .clippy {
	color: #000;
}

.short_link_ct .short_link {
	float: left;
	text-indent: 8px;
	width: 260px;
}

.short_link_ct .copy_bto {
	font-size: 0.8em;
}

.stats_link {
	margin-right: 10px;
	width: 130px;
}

.long_link {
	width: 220px;
}

#actions_container {
	height: 15px;
	width: 710px;
	margin: 0 auto;
	padding: 5px;
	text-align: right;
}

#form_container {
	width: 690px;
	margin: 0 auto;
	padding: 26px;
}

#form_container p {
	margin-bottom: 10px;
}

#form_container .error {
	color: #a10000;
}

#form_container label {
	width: 120px;
	display: inline-block;
	text-align: left;
}

#form_container em {
	color: #a10000;
	padding-left: 2px;
}

#form_container #form_username,
#form_container #form_password,
#form_container #form_email,
#form_container #form_confirm_password,
#form_container .field {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	font-size: 16px;
	padding: 5px 10px;
	width: 200px;
	max-width: 200px;
	color: #626262;
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
}

#form_container #submit_container {
	margin-top: 30px;
	margin-left: 245px;
}

#shrink_container .text {
	padding: 5px;
}

#form_container fieldset {
	margin: 0 auto;
	width: 400px;
	border-top: 1px dashed #626262;
	border-bottom: 1px dashed #626262;
	padding-bottom: 10px;
	padding-top: 10px;
}

#form_container .email {
	border-top: none;
	margin-top: 10px;
}

/* Form Options */
#form_options {
	color: #FFFFFF;
	padding-top: 10px;
	font-size: 0.8em;
}

#form_options #options_toggle {
	color: #FFFFFF;
	margin-bottom: 5px;
	width: 80px;
}

#form_fixed_size {
	text-align: right;
}

#options_elements input,
#options_elements select {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	font-size: 0.9em;
}

#options_elements label {
	margin-left: 6px;
}

.fake_link {
	border: 0 none;
	color: #CD2626;
	text-decoration: none;
}

.fake_link:hover {
	color: #CD2626;
	cursor: pointer;
	text-decoration: none;
}

/****************************************************************
 * jGrowl_info_1
 ****************************************************************/
div.jGrowl div.jGrowl_info_1 {
	background: #626262 url(../img/info.png) no-repeat 10px 10px;
}

div.jGrowl div.jGrowl_info_1 div.jGrowl-message, div.jGrowl div.jGrowl_info_1 div.jGrowl-header {
	color: white;
	padding: 5px 5px 5px 75px;
	text-align: left
}

div.jGrowl div.jGrowl_info_1 div.jGrowl-header {
	font-size: medium;
}

/****************************************************************
 * jGrowl_error_1
 ****************************************************************/
div.jGrowl div.jGrowl_error_1 {
	background: #626262 url(../img/error.png) no-repeat 10px 10px;
}

div.jGrowl div.jGrowl_error_1 div.jGrowl-message,
div.jGrowl div.jGrowl_error_1 div.jGrowl-header {
	color: white;
	padding: 5px 5px 5px 75px;
	text-align: left
}

div.jGrowl div.jGrowl_error_1 div.jGrowl-header {
	font-size: medium;
}